@font-face {
  font-family: "CocoGoose Pro";
  src: url("../assets/twentyonenative/cocogoose/Cocogoose-Pro-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CocoGoose Pro";
  src: url("../assets/cocogoose/Cocogoose-Pro-Ultralight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CocoGoose Pro";
  src: url("../assets/cocogoose/Cocogoose-Pro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CocoGoose Pro";
  src: url("../assets/cocogoose/Cocogoose-Pro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CocoGoose Pro";
  src: url("../assets/cocogoose/Cocogoose-Pro-Semilight.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CocoGoose Pro";
  src: url("../assets/cocogoose/Cocogoose-Pro-Letterpress-Regular.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CocoGoose Pro";
  src: url("../assets/cocogoose/Cocogoose-Pro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CocoGoose Pro";
  src: url("../assets/cocogoose/Cocogoose-Pro-Darkmode.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pangea Text";
  src: url("../assets/pangeatext/PangeaText-LightWeb.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pangea Text";
  src: url("../assets/pangeatext/PangeaText-RegularWeb.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pangea Text";
  src: url("../assets/pangeatext/PangeaText-BoldWeb.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --body-font-family: "Pangea Text", sans-serif;
  --title-font-family: "CocoGoose Pro", sans-serif;
  --heading-font-family: var(--title-font-family);

  --body-line-height: 1.5;
  --heading-line-height: 1.1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
html:focus-within {
  scroll-behavior: smooth;
  hanging-punctuation: first last;
  interpolate-size: allow-keywords;

  /* Prevent font size inflation on iOS */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: var(--body-line-height);
  font-family: var(--body-font-family);
  /* optimizeLegibility reads nicer but costs rendering time. */
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

:where(h1, h2, h3, h4) {
  text-wrap: balance;
  line-height: var(--heading-line-height);
  font-family: var(--heading-font-family);
}

:where(p, li, figcaption) {
  text-wrap: pretty;
  max-width: 75ch;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* Avoids double margins between adjacent elements. */
:where(h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
  margin-block-end: 0;
}

:where(ul, ol):where([class]) {
  list-style: "";
}

:where(img, svg, video, canvas, audio) {
  display: block;
  max-width: 100%;
}

:where(input, button, textarea, select) {
  font-family: inherit;
  font-size: inherit;
}

:where(input[type="submit"], button):not(:disabled) {
  cursor: pointer;
}

a {
  text-decoration: none;

  &:not([class]) {
    text-decoration-skip-ink: auto;
  }
}

textarea:not([rows]) {
  min-height: 10rem;
}

/* Lines up digits of the same length to take the same space. */
td,
math,
time[datetime*=":"] {
  font-variant-numeric: tabular-nums;
}

:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after,
  *:focus-within {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
